body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}

#mac-tables {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

th {
    background-color: lightgray;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}
